<head>
  <meta charset="UTF-8">
  <title>instagram</title>
  <link rel="stylesheet" href="normalize.css">
  <link rel="stylesheet" href="top.scss">
  <link href="https://fonts.googleapis.com/css?family=Pacifico" rel="stylesheet">

</head>

<header class="face">facebook</header>
<section class="container container-fluid">
 <p class="flash"><%= notice %><%= alert %></p>
  <div class="row">
      <div class="image col-md-6 col-sm-6">
        <i class="fa fa-thumbs-o-up fa-5x" aria-hidden="true"></i>
      </div>
      <div class="login col-md-6 col-sm-6">
 		   <h2>facebook</h2>
 		    <%= link_to topics_path do %>
        <h4>一覧へ</h4>
        <i class="fa fa-sign-in fa-5x" aria-hidden="true"></i>
       <% end %>
      <h3>Enjoy nice communication with many friends</h3>
     </div>

     </div>
 
 </section>
 