
<h2>コメント編集</h2>
<div class="container">
    <div class="wrapper col-md-8 col-md-offset-2 col-sm-10">
      <% if @comment.errors.any? %>
        <div id="error_explanation" class="alert alert-danger">
          <ul>
            <% @comment.errors.full_messages.each do |message| %>
              <li><%= message %></li>
            <% end %>
          </ul>
        </div>
      <% end %>
      <%= render partial: 'comments/form', locals: { comment: @comment, topic: @topic } %>
  </div>
</div>
